.tabs-container {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 50px;
  display: flex; /* Kích hoạt flexbox */
  justify-content: flex-start; /* Căn trái */
}

.custom-tab {
  font-size: 17px !important;
  font-weight: 600 !important; 
  text-transform: none;
  transition: color 0.3s ease;
  padding: 16px 32px; /* Tăng khoảng cách giữa các tab */
}

.custom-tab:hover {
  color: #000;
}

.custom-tab.Mui-selected {
  color: #1976d2;
  font-weight: bold;
}

.custom-tab-panel {
  padding: 24px;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-size: 18px; /* Tăng kích thước chữ trong nội dung tab */
}
